html {
    background: black;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#motherboard {
    height: 100%;
    display: flex;
    overflow: hidden;
}

#gameCanvas {
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
    display: block;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
    

